#canvas{
    border: 1px solid black;
    margin-top: 1%;
    background-color: #EFEDE0;
    vertical-align: middle;
}

.rotate-text {
    display:  inline-block;
    color: #194763;
    font-size: 150%;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    filter: none; /*Mandatory for IE9 to show the vertical text correctly*/      
}

.text{
    display: block;
    color: #194763;
    font-size: 150%;
    margin-top: 3%;
    margin-left: 35%;
    
}

.rotate-90 {
    display:  inline-block;
    -moz-transform:rotate(-270deg); 
    -moz-transform-origin: bottom left;
    -webkit-transform: rotate(-270deg);
    -webkit-transform-origin: bottom left;
    -o-transform: rotate(-270deg);
    -o-transform-origin:  bottom left;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
.button{
    display: block;
    position: relative; /* masker is absoluut geplaatst hierop*/
    text-shadow: 0 0 6px #414A4C;
    overflow: hidden;
    float: left;
    margin-top: 5%;
    margin-left: 10%;
    width: 80%;
    height: 33%;
    font-size: 150%;
    border: 0.8em solid #fafafa;
    background-color: #194763;
    color: #F5F5ED;
    border:solid 1px rgb(0,0,0);
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
    border-radius:5px;
}

input[type=button]:hover{
    opacity:0.8;
    -webkit-transition:opacity 0.5s linear;
    -moz-transition:opacity 0.5s linear;
    -o-transition:opacity 0.5s linear;
    transition:opacity 0.5s linear;
}

#choice{
    float: left;
    text-align: left;
    width: 20%;
    height: 60%;
}

#chart{
    float: left;
    width: 80%;
    text-align: left;
}

#title{
    color: #194763;
    margin-top: 1%;
}

select {
    float: right;
    margin-right: 2%;
    width: 15%;
    height: 5%;
    color: #194763;
    font: 14px arial,sans-serif;
    background-color:#EFEDE0;
}

select:hover, select>option:hover {
    background-color: #194763;
    color:  #EFEDE0;
}

select option:nth-child(odd) {
    background:#EFEDE0;
    color: #194763;
}

 select option:nth-child(even) {
    background:#DBD6D0;
    color: #194763;
}