#countdown{
    float: right;
    margin-right: 1%;
    color: #194763;
    margin-top: 2%;
    font-size: 110%;
}

#clock{
    float:  right;
    font-size: 110%;
    margin-top: 2%;
    margin-right: 5%;
    background-color: #194763;
    padding: 6px;
    color: #F5F5ED;
    font-family: Arial sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    display: inline;
}

.features-table {
  width: 80%;
  height: 80%;
  padding-top: 3%;
  margin-left: 10%;
  border-collapse: separate;
  border-spacing: 0;
  text-shadow: 0 1px 0 #fff;
  color: #194763;  
  background-image: linear-gradient(top, #fff, #eaeaea, #fff);
}

.features-table td {
  height: 10%;
  line-height: 10%;
  padding: 0 4%;
  border-bottom: 1px solid #cdcdcd;
  box-shadow: 0 1px 0 white;
  white-space: nowrap;
  text-align: center;
}

/*Table Body*/
.features-table tbody td {
  text-align: center;
  font: normal 1.5em Verdana, Arial, Helvetica;
  width: 20%;
}

.features-table td:nth-child(1), 
.features-table td:nth-child(2) {
  background: #DBD6D0;
  border-right: 1px solid white;
}


.features-table td:nth-child(3) {
  background: #e7f3d4;  
  background: rgba(184,243,85,0.3);
}

.features-table tbody tr:last-child td{
  border-radius-bottomright: 15px;
  border-radius-bottomleft: 15px; 
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom: 1px solid #dadada;
}

#warning{
    background: #F0A856;
    background: rgba(240,168,86,0.3);
}

/*Table Header*/
.features-table thead td {
    padding: 3% 4%;
  font: bold 1.8em 'trebuchet MS', 'Lucida Sans', Arial;  
  border-radius-topright: 15px;
  border-radius-topleft: 15px; 
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top: 1px solid #eaeaea; 
}