@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?l9wkxb');
	src:url('fonts/icomoon.eot?#iefixl9wkxb') format('embedded-opentype'),
		url('fonts/icomoon.woff?l9wkxb') format('woff'),
		url('fonts/icomoon.ttf?l9wkxb') format('truetype'),
		url('fonts/icomoon.svg?l9wkxb#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
    font-size: 200%;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 2.4;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e602";
}
.icon-lock:before {
	content: "\e603";
}