.tile{
    position: relative; /* masker is absoluut geplaatst hierop*/
    text-shadow: 0 0 6px #414A4C;
    overflow: hidden;
    float: left;
    margin-top: 5%;
    width: 50%;
    height: 80%;
    border-right: 0.8em solid #fafafa;
    border-left: 0.8em solid #fafafa;
    -moz-background-clip: content;     
    -webkit-background-clip: content;  
    background-clip: content-box;  
}

.tile h1{
    font-size: 500%;
}

.tile p{
    font-size: 250%;
} 

a.mask{
    display: inline-block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    font-size: 150%;
    line-height: 300%;
}

#tile1 {
    background-color: #194763;
    color: #F5F5ED;
    background-image: url(images/gauge.png);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: 50% 70%;
    border-radius: 5%;
}

#tile2 {
    background-color: #194763;
    color: #F5F5ED;
    background-image: url(images/diagnostics.jpg);
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: 50% 70%;
    border-radius: 5%;
}

.tile .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    display: none;
}

.tile .mask h2 {
    text-transform: uppercase;
    -webkit-text-transform: uppercase;
    -moz-text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 125%;
    padding: 0, 10px, 0, 10px;
    margin: 8px 0 0 0;
}

.tile .mask p {
    font-style: italic;
    font-size: 90%;
    position: relative;
    color: #fff;
    padding: 0 4% 6% 4%;
    text-align: center;
}

.tile .action {
    position: absolute;
    top: 70%;
    left: 25%;
    display: block;
    width: 50%;
    padding: 2% 2%;
    background: rgba(12,12,12, 0.4);
    color: #fff;
    text-transform: uppercase;
    -web-text-transform: uppercase;
    -moz-text-transform: uppercase;
    box-shadow: 0 0 1px #000;
    -webkit-box-shadow: 0 0 1px #000;
    -moz-box-shadow: 0 0 1px #000;
    font-size: 100%;
    text-align: center;
}

/* Wordt nogal moeilijk. De bedoeling van de sibling selectors is dat de tekst op de tegel
    alleen verdwijnt als er een mask is voorzien. De mask moet wel voor de h1 en de p van de 
    tegel staan. */
.tile.hover:hover .mask~h1, .tile.hover:hover .mask~p {
    display: none;
}

.tile.hover:hover .rotate-in {
    top: 0px;
    display: block;
    background-color: #476C82;
    color: #194763;
    -webkit-animation-name: rotateIn;
    -moz-animation-name: rotateIn;
    -ms-animation-name: rotateIn;
    -o-animation-name: rotateIn;
    animation-name: rotateIn;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    animation-duration: 0.5s;
}