/* landscape font-size */
@media screen and (min-width: 200px) and (orientation : landscape) {
    body {
        font-size: 20%;
    }
}

@media screen and (min-width: 400px) and (orientation : landscape){
    body {
        font-size: 30%;
    }
}

@media screen and (min-width: 500px) and (orientation : landscape) {
    body {
        font-size: 40%;
    }
}

@media screen and (min-width: 600px)and (orientation : landscape) {
    body {
        font-size: 50%;
    }
}


@media screen and (min-width: 800px)and (orientation : landscape) {
    body {
        font-size: 60%;
    }
}

@media screen and (min-width: 900px) and (orientation : landscape) {
    body {
        font-size: 70%;
    }
}

@media screen and (min-width: 1000px) and (orientation : landscape) {
    body {
        font-size: 80%;
    }
}

@media screen and (min-width: 1100px) and (orientation : landscape) {
    body {
        font-size: 90%;
    }
}

@media screen and (min-width: 1200px) and (orientation : landscape) {
    body {
        font-size: 100%;
    }
}

/* portrait font-size */
@media screen and (min-width: 100px) and (orientation : portrait) {
    body {
        font-size: 40%;
    }
}

@media screen and (min-width: 200px) and (orientation : portrait) {
    body {
        font-size: 50%;
    }
}

@media screen and (min-width: 400px) and (orientation : portrait){
    body {
        font-size: 60%;
    }
}

@media screen and (min-width: 500px) and (orientation : portrait) {
    body {
        font-size: 70%;
    }
}

@media screen and (min-width: 600px) and (orientation : portrait) {
    body {
        font-size: 80%;
    }
}

@media screen and (min-width: 700px) and (orientation : portrait) {
    body {
        font-size: 90%;
    }
}

@media screen and (min-width: 800px) and (orientation : portrait) {
    body {
        font-size: 100%;
    }
}