/*for all elements*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*includes border in box size*/
    -moz-box-sizing: border-box; /*necessary for Firefox*/
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Arial, sans-serif;
    position: relative;
    font-size: 90%;
}

header, footer {
    width: 100%;
    height: 12%;
    background-color: #194763;
    text-align: center;
}

header h1 {
    font-size: 250%;
    font-weight: 900;
    color: #F5F5ED;
    width: 100%;
}

#contentarea {
    width: 100%;
    height: 76%;
    text-align: center;
    background: #F5F5ED;
    overflow-y: auto;
}

footer p {
    font-size: 150%;
    font-weight: 900;
    color: #F5F5ED;
    width: 100%;
}

#vertical2 {
    height: 30%;
}

#vertical {
    height: 35%;
}

.room {
    text-align: center;
    position: relative;
    float: left;
    color: #F5F5ED;
}

._4x1 {
    width: 25%;
    height: 100%;
}

._2x1 {
    width: 50%;
    height: 100%;
}

#loginanchor{
    color: #F5F5ED;
    display: block;
    text-align: right;
    font-size: 130%;
    margin-right: 10%;
}

#home {
    color: #F5F5ED;
    text-align: left;
    font-size: 130%;
    display: block;
    margin-left: 10%;
}

a {
    text-decoration: none;
}

#loginpopup {
    display: none; /* ensures it’s invisible until it’s called */
    position: absolute; /* makes the div go into a position that’s absolute to the browser viewing area */
    left: 25%; /* positions the div half way horizontally */
    top: 25%; /* positions the div half way vertically */
    color: #194763;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    border: 2px solid rgba(219,214,208,0.8);
    background: #F5F5ED;
    background: -moz-linear-gradient(#F5F5ED, #DBD6D0);
    background: -webkit-linear-gradient(#F5F5ED, #DBD6D0);
    background: -o-linear-gradient(#F5F5ED, #DBD6D0);
    width: 50%;
    height: 50%;
    font-size: 120%;
    z-index: 1040; /* makes the div the top layer, so it’ll lay on top of the other content */
}

#fade {
    display: none; /* ensures it’s invisible until it’s called */
    position: absolute; /* makes the div go into a position that’s absolute to the browser viewing area */
    left: 0%; /* makes the div span all the way across the viewing area */
    top: 0%; /* makes the div span all the way across the viewing area */
    background-color: #194763;
    -moz-opacity: 0.7; /* makes the div transparent, so you have a cool overlay effect */
    opacity: .70;
    filter: alpha(opacity=70);
    width: 100%;
    height: 100%;
    z-index: 1020; /* makes the div the second most top layer, so it’ll lay on top of everything else EXCEPT for divs with a higher z-index (meaning the #overlay ruleset) */
}

#loginpopup h1 {
    font-size: 180%;
    color: #194763;
    padding: 1% 0 4% 1%;
    font-weight: bold;
    text-align: center;
}

/* line under title h1 */
#loginpopup h1:after {
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: -moz-linear-gradient(left, rgba(25,71,99,0) 0%, rgba(25,71,99,0.8) 20%, rgba(25,71,99,1) 53%, rgba(25,71,99,0.8) 79%, rgba(25,71,99,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(25,71,99,0)), color-stop(20%,rgba(25,71,99,0.8)), color-stop(53%,rgba(25,71,99,1)), color-stop(79%,rgba(25,71,99,0.8)), color-stop(100%,rgba(25,71,99,0)));
    background: -webkit-linear-gradient(left, rgba(25,71,99,0) 0%, rgba(25,71,99,0.8) 20%, rgba(25,71,99,1) 53%, rgba(25,71,99,0.8) 79%, rgba(25,71,99,0) 100%);
    background: -o-linear-gradient(left, rgba(25,71,99,0) 0%, rgba(25,71,99,0.8) 20%, rgba(25,71,99,1) 53%, rgba(25,71,99,0.8) 79%, rgba(25,71,99,0) 100%);
    background: -ms-linear-gradient(left, rgba(25,71,99,0) 0%, rgba(25,71,99,0.8) 20%, rgba(25,71,99,1) 53%, rgba(25,71,99,0.8) 79%, rgba(25,71,99,0) 100%);
    background: linear-gradient(left, rgba(25,71,99,0) 0%, rgba(25,71,99,0.8) 20%, rgba(25,71,99,1) 53%, rgba(25,71,99,0.8) 79%, rgba(25,71,99,0) 100%);
}

.close {
    background: #F5F5ED;
    color: #194763;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: #DBD6D0;
}

/* all the input*/
#loginpopup input {
    width: 91%;
    margin-top: 0.5%;
    padding: 2% 2% 2% 2.5em;
    color: #194763;
    border: 1px solid rgba(25,71,99,0.6);
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

#loginpopup input:active, #loginpopup input:focus {
    border: 2px solid rgba(219,214,208,0.8);
    background: rgba(239,237,224, 0.7);
}

#loginpopup label {
    color: #194763;
    position: relative;
}

/*button*/
#loginpopup button {
    width: 30%;
    cursor: pointer;
    background: rgb(25,71,99);
    color: #F5F5ED;
    font-size: 120%;
    border: 2px solid rgb(219,214,208);
    margin: 2.5% 0 1.5% 0;
    padding: 1% 0 1% 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

#loginpopup button:hover {
    background: rgba(11,62,90,0.7);
}